<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/HibernateConfigurationDTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>


        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="connection.username">ilerna</property>
        <property name="connection.password">Ilerna_1234</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.dialect.store_engine">innodb</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/m06</property>


        <mapping resource="Alumno.hbm.xml"/>
        <mapping resource="Profesor.hbm.xml"/>
        <mapping resource="Modulo.hbm.xml"/>

    </session-factory>

</hibernate-configuration>